.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: thistle;
    font-size: smaller;
    width: 30vw;
    padding: 20px;
    height: 100px;

    background-color: rgb(31, 30, 31);
    border: 1px solid rgb(49, 47, 47);
    border-radius: 8px;
}
.subtotal>button{
        background-color: rgb(11, 162, 192);
    border: 1px solid rgb(16, 127, 231);
    margin-top: 10px;
 padding: 7px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: smaller;
    font-weight: 600;
    cursor: pointer;
}
.subtotal_gift{

    display: flex;
    align-items: center;
}
.subtotal_gift>input{
    margin-right: 5px;
        cursor: pointer;
}
.subtotal_infor >p{
    margin-bottom: 10px;
}